@model IEnumerable<xuong_moc.Models.Contact>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<form method="get" asp-action="Index" class="mb-12">
    <div class="form-inline d-flex align-items-center ">
        <a style="margin-right:20ppx" class="btn btn-success" asp-action="Create">
            <i class="fas fa-plus"></i> Thêm Mới
        </a>
        <input type="text" id="searchString" name="searchString"
               value="@ViewData["SearchString"]" class="form-control me-2"
               placeholder="Nhập tên cần tìm">
        <button type="submit" class="btn btn-primary">Tìm</button>
    </div>

</form>
<table class="table">
    <thead>
        <tr style="text-align:center">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr style="text-align:center">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span style="color: green;">Đang hoạt động</span>
                    }
                    else
                    {
                        <span style="color: red;">Không hoạt động</span>
                    }
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
